/* You can add global styles to this file, and also import other style files */

:root {
    --background: #fff;
    --foreground: #fff;
    --color: #111517;
    --box-shadow: 0 3px 5px #ebe5e5;
    --box-shadow2: 0 3px 15px #ebe5e5;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--color);
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

.info_label {
    font-weight: bold;
}

input:focus,
button:focus {
    outline: none;
}

@media screen and (max-width: 576px) {
    .card {
        width: 98% !important;
        margin-top: 8% !important;
    }

    .section-right {
        width: 30% !important;
    }

    .search_row {
        margin: 2% 1% 0 8% !important;
        display: block !important;
    }

    .input_wrapper {
        width: 92% !important;
    }

    .dropdown {
        margin: 7% 1% 0 0% !important;
    }

    .col-1,
    .col-2 {
        width: 100% !important;
    }

    .flag2 {
        width: 98% !important;
    }

    .main {
        height: 506px !important;
        max-height: 506px !important;
        overflow-y: auto !important;
    }
}